body{
    border: 8px solid orange;
    padding: 30px;
}

a{
     color: orange;
}

img{
    width: 200px;
    display: block;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 50px;
}

h3{
    text-align: center;
}
legend {
     font-weight: bold;
}

button {
    border: 1px solid  black;
    text-decoration: underline;
    color: white;
    
}

.button1 {
    background-color: orange;
}