header{
    padding-bottom: 30px;
    background-color: green;    
    margin-bottom: 20px; 
}
/*질문: 이미지 파일 한곳에 넣기. 사진 위에 마우스 올렸을 때 다른 화면 뜨게 하는 방법*/
/*폰트적용 ㅜㅜ*/ 
body {
    font-family: "Song Myung", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    text-align: center;
    color: white;
}

h5{
    text-align: right;
    color: white;

}

h6{
    text-align: center;
    color: black;
}

.profile{
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    margin: 30px 0; 
}
.basic {
    display: flex;
    flex-direction: column;
}

.specific{
    display: flex;
    flex-direction: column;
    
}

.specific img {
    display: flex;
    width: 300px;  
    height: 300px; 
    object-fit: cover; 
}

.specific p {
    text-align: center;  
    font-weight: bold;
    margin-bottom: 50px; 
    
}


.specific p{
    display: flex;
    flex-direction: column; /* 전체 섹션은 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
  }

.cafe{    
    display: flex;
    flex-direction: row; /* 전체 섹션은 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
    justify-content: space-around;

}

.hike img{
    display: block;
    margin: 0 auto;
}

.cute,.no {    
    display: flex;
    flex-direction: row; /* 전체 섹션은 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
    justify-content: space-around;

}

img{
    margin-right: 20px;

}


fieldset {
    margin-top: 100px;
    margin-bottom: 100px; 
    padding: 15px;
}

p {
    margin: 5px 0;
    font-size: 20px;

}

.banner{
    width:100%;
    height:100px
    background:
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);

    color: white;
}

.img-wrapper:hover .overlay {
opacity: 1;
}

.img-wrapper {
    position: relative;
    width: 300px;

}
